<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" />

    <!-- Transmission macro -->
    <xacro:macro name="SimpleTransmissionPosition" params="joint n">
        <transmission name="tran${n}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor${n}">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>


    <!-- Transmission macro -->
    <xacro:macro name="SimpleTransmissionEffort" params="joint n">
        <transmission name="tran${n}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor${n}">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <!-- Transmission 1 -->
    <xacro:SimpleTransmissionPosition n="1" joint="base_waist_joint" />

    <!-- Transmission 2 -->
    <xacro:SimpleTransmissionPosition n="2" joint="waist_shoulder_joint" />

    <!-- Transmission 3 -->
    <xacro:SimpleTransmissionPosition n="3" joint="shoulder_arm_joint" />

    <!-- Transmission 4 -->
    <xacro:SimpleTransmissionPosition n="4" joint="arm_wrist_joint" />

    <!-- Transmission 5 -->
    <xacro:SimpleTransmissionPosition n="5" joint="wrist_hand_joint" />
    
</robot>